<tr class="<%= task.priority == 3 ? ' high-priority' : ''%>">
  <td class="client-code">
    <h3><%= task.client_code %></h3>
  </td>
  <td class="task">
    <div class="clearfix">
      <h3 class="content">
      <% if task.priority == 3 %>
        <span class="bang">!</span>
      <% end %>
      <% if !@selected_task.nil? && task.id == @selected_task.id %>
        <%= link_to task.name, user_path(@user) %>
      <% else %>
        <%= link_to task.name, user_task_path(@user, task.id, :category => @category) %>
      <% end %>
      </h3>
      <p class="task-ops">
        <%= link_to "Comment", task_comments_path(task.id) %> |  
        <%= link_to "Edit", edit_task_path(task) %> |  
        <%= link_to "Delete", task, :method => :delete, :confirm => "You sure?",
	                            :title => "Delete #{task.name}" %>
      </p>
    </div>
    <% if !@selected_task.nil? && task.id == @selected_task.id %>
      <div class="task-meta">
        <p class="task-description"><%= task.description %></p>
        <p class="task-status">
          <strong>Status:</strong> <%= task_status_to_s task.status %>
        </p>
        <p class="task-assigned-by">
          <strong>Assigned by:</strong> <%= User.find(task.assigned_by).name %>
        </p>
        <p class="task-priority">
          <strong>Priority:</strong> <%= task_priority_to_s task.priority %>
        </p>
        <p class="task-on">
          <strong>On:</strong> <%= task.created_at.nil? ? task.created_at: task.created_at.strftime("%B %e, %Y") %>
        </p>
        <p class="task-due">
          <strong>Due:</strong> <%= task.due_date.nil? ? task.due_date : task.due_date.strftime("%B %e, %Y") %>
        </p>
      </div>
    <% end %>
  </td>
</tr>
