<div id="edit-task">
<h1>Edit Task</h1>

<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :assigned_to, "Assign To" %><br />
    <%= select(:task, :assigned_to, options_for_select(@users, @default)) %>
  </div>
  <div class="field">
    <%= f.label :client_code %><br />
    <%= f.text_field :client_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select(:task, :status, options_for_select(@status, @default_status)) %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= select(:task, :priority, options_for_select(@priorities, @default_priority)) %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= date_select :task, :due_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
    <%= label_tag :notify, 'Notify by email?' %>
    <%= check_box_tag :notify %>
  </div>
<% end %>
</div>
