<% form_for @task do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :assigned_to, "Assign To" %><br />
    <%# select(:user, :assigned_to, options_for_select(@users), @default) %>
    <%= select(:task, :assigned_to, options_for_select(@users, @default)) %>
  </div>
  <div class="field">
    <%= f.label :client_code, 'Client' %><br />
    <%= f.text_field :client_code %>
  </div>
  <div class="field">
    <%= f.label :name, 'Project (title)' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= select(:task, :priority, options_for_select(@priorities, 2)) %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= date_select :task, :due_date %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
    <%= label_tag :notify, 'Notify by email?' %>
    <%= check_box_tag :notify %>
  </div>
<% end %>
